<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SASS Style Framework</title>
  </head>
  <body style="margin: 0">
    <h1 class="ed-copy-h1">Sample Page Heading</h1>
    <h2 class="ed-copy-h2">Sample Page Second Level Heading</h2>
    <p class="ed-copy-p">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil delectus
      neque quae nemo explicabo a veniam voluptas repellat unde maiores.
      Recusandae quasi natus id omnis! Praesentium odit mollitia perspiciatis
      vero?
    </p>
    <p class="ed-copy-p--warning">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet est, alias
      quidem nobis suscipit eligendi nesciunt, fuga architecto itaque
      praesentium ex. Amet iusto blanditiis, voluptatem minima fugiat id!
      Impedit, nam.
    </p>
  </body>
</html>
